@if (RightContent is null)
{
    <div class="row p-0 m-0">
        <div class="col-12 p-0 m-0">
            <h3>@Title</h3>
        </div>
    </div>
}
else
{
    <div class="row p-0 m-0">
        <div class="col-6 p-0 m-0">
            <h3>@Title</h3>
        </div>
        <div class="col-6 p-0 m-0 text-end">
            @RightContent
        </div>
    </div>
}

@if (ShowHr)
{
    <hr />
}

@code {
    [Parameter]
    public RenderFragment RightContent { get; set; }

    [Parameter]
    public string Title { get; set; }

    public bool ShowHr { get; set; } = true;
}
